.value {
    font: 16 "Helvetica-Neue", "Arial", sans-serif;
    color: green;
}

div.percentage {
    font-size: 10pt;
    color: #AAAAAA;
}

.bar {
    position:absolute;
    cursor:pointer;
    -webkit-transition-property: top;
    -moz-transition-property: top;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
}
